body { background: url('https://t3.ftcdn.net/jpg/05/64/98/74/360_F_564987467_gqBUTwuXpFZQbh3vs2avRFZV9CoAXRov.jpg') no-repeat center center fixed;
  padding: 0;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
  font-family: Merriweather, serif;
  } 